.logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: translate(50%, 20%);
}

.mobile-home-link .logo{
    transform: translate(10%, 10%);
}

.tech-stack{
    padding-top: 75px;
    padding-bottom: 45px;
    }
.tech-stack i{
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.tech-stack i::before{
    padding: 10px;
}


/* --------------------------------------------------------------------
 * ## Project Details 
 ** Banner
 * -------------------------------------------------------------------- */
.hero-carousel .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.owl-nav span{
    width: 50px;
    height: 50px;
    color: black;
    background-color: purple;
    font-size: 40px;
    display: block;
}

/* Hover effect */
.owl-prev:hover,
.owl-next:hover {
  background-color: #555;
}

.owl-prev{
  content: "←";
  margin-right: 5px;
}

.owl-next {
  content: "→";
  margin-left: 5px;
}

/* -- project content area -- */
.s-styles {
    position: relative;
}

.s-styles .intro h1 {
    margin-top: 0;
}

.pgn ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
}